@inject IHttpContextAccessor Accessor
@{
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="~/css/Contrasenia.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}
<body>
    <form class="formulario">

        <h1>Recuperar contraseña</h1>
        <div class="contenedor">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Radio_idusuario" onchange="Cambiar('1')" checked>
                        <label class="form-check-label" for="inlineRadio1">Nombre de usuario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Radio_correo" onchange="Cambiar('2')">
                        <label class="form-check-label" for="inlineRadio2">Correo Electrónico</label>
                    </div>
                </div>
            </div>
            <br />

            <div id="div_usuario" class="input-group-prepend">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <i class="fas fa-user-cog icon"></i>
                        <input id="idusuario" type="text" placeholder="Nombre de usuario">
                    </div>
                    <span class="obligatorio-rojo Msg_idusuario"> *Por favor, indique un usuario válido</span>
                </div>
            </div>

            <div id="divCorreo" class="input-group-prepend" style="display:none;">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <i class="fas fa-envelope icon"></i>
                        <input id="correoelect" type="text" placeholder="Correo Electronico">
                    </div>
                    <span class="obligatorio-rojo Msg_correoelect"> *Por favor, digite un correo electrónico válido</span>
                </div>
            </div>

            <div class="input-group-prepend">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <i class="far fa-question-circle icon"></i>
                        <input id="pin" type="text" placeholder="Pin de recuperacion de contraseña">
                    </div>
                    <span class="obligatorio-rojo Msg_pin"> *Por favor, digite un pin válido</span>
                </div>
            </div>

            <div class="input-group-prepend">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <i class="fas fa-key icon"></i>
                        <input id="contrasenianueva" type="password" placeholder="Contraseña Nueva">
                    </div>
                    <span class="obligatorio-rojo Msg_contrasenianueva"> *Por favor, rellene este campo</span>
                </div>
            </div>

            <div class="input-group-prepend">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <i class="fas fa-key icon"></i>
                        <input id="confirmarcontrasenianueva" type="password" placeholder="Confirmar Contraseña Nueva">
                    </div>
                    <span class="obligatorio-rojo Msg_confirmarcontrasenianueva"> *Por favor, rellene este campo</span>
                </div>
            </div>

            <input id="btnRecuperar" onclick="CambiarContrasenia();" value="Cambiar contraseña" class="button">
            <div id="liveAlertPlaceholder"></div>
            <p>¿Ya tienes una cuenta?<a class="link" href="@Url.Action("Login","Login")"> Iniciar Sesion</a></p>
        </div>
    </form>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Contrasenia.js" asp-append-version="true"></script>
<script type="text/javascript">
    //Seccion de variables para ruta ajax
    const RutaIniciarSesion = '@Url.Action("Login", "Login")';
    const RutaInicio = '@Url.Action("Resumen", "Resumen")';
    const RutaValidarCorreoExiste = '@Url.Action("ValidarCorreoExiste", "Login")';
    const RutaValidaIdUsuarioExiste = '@Url.Action("ValidaIdUsuarioExiste", "Login")';
    const RutaRegistrarse = '@Url.Action("RegistrarUsuario", "Login")';
    const RutaCambiarContrasenia = '@Url.Action("RecuperarContrasenia", "Login")';
</script>