@{
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Gestion de Finanzas</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_1_SGF_Presentacion.styles.css" asp-append-version="true" />
}
<body>
    <div class="container">
        <form class="formulario">

            <h1>Login</h1>
            <div class="contenedor">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <div class="input-group-prepend">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <i class="fas fa-envelope icon"></i>
                                        <input id="Usuario" type="text" placeholder="Usuario">
                                    </div>
                                    <span class="obligatorio-rojo Msg_Usuario"> *Por favor, rellene este campo</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <div class="input-group-prepend">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <i class="fas fa-key icon"></i>
                                        <input id="Contrasenia" type="password" placeholder="Contraseña">
                                    </div>
                                    <span class="obligatorio-rojo Msg_Contrasenia"> *Por favor, rellene este campo</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <input id="btnLogin" onclick="IniciarSesion();" value="Login" class="button">
                        <div id="liveAlertPlaceholder"></div>
                        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                        <p>¿No tienes una cuenta? <a class="link" href="@Url.Action("Registrarse","Login")"> Registrarse </a><br/></p>
                        <p><a class="link" href="@Url.Action("CambiarContraseña","Login")"> Recuperar contraseña </a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        //Seccion de variables para ruta ajax
        const RutaIniciarSesion = '@Url.Action("Login", "Login")';
        const RutaValidarLogin = '@Url.Action("ValidarUsuario", "Login")';
        const RutaInicio = '@Url.Action("Resumen", "Resumen")';
    </script>
</body>